body {
  margin: 0;
  overflow: hidden;
  background: black;
}

/* Title */
.title {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 70px;
  z-index: 10;

  text-shadow:
    0 0 10px cyan,
    0 0 20px cyan,
    0 0 40px cyan;
}

canvas {
  display: block;
}
